:root {
  --primary-color: #28a745; 
  --secondary-color: #f8f9fa; 
  --text-color: #333;
  --venda-color: #007bff; 
  --doacao-color: #ffc107; 
  --light-gray: #e9ecef;
}


* {
  box-sizing: border-box;
  margin: 0; 
  padding: 0;
}


html {
    overflow-x: hidden;
}


body {
  font-family: 'Arial', sans-serif;
  color: var(--text-color);
  line-height: 1.6;
  background-color: var(--secondary-color);
}

.app-container {
  min-height: 100vh;
  overflow-x: hidden; 
}

/* Ajustes no cabeçalho e conteúdo para garantir o alinhamento */
header,
main {
    width: 100%;
    margin: 0;
    padding: 0;
}

.content {
  padding: 0; 
  max-width: 100%; 
  margin: 0 auto; 
}

@media (min-width: 768px) {
  .content {
    max-width: 1200px;
    padding: 20px; /* Mantém 20px em telas maiores */
  }
}
html, body {
  width: 100%;
  overflow-x: hidden;
}

* {
  max-width: 100vw;
}
